 .banner {
   background-color: gray;
   .carousel-indicators {
      align-items: center;
       li {
          margin: 10px;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          transition: all 0.2s linear;
          cursor: pointer;
       }
       .activeIndicator {
          height: 40px;
          width: 40px;
       }
   }
 }