 .banner {
   overflow: hidden;
   position: relative;
   &::before {
      content: "";
      height: 800px;
      width: 800px;
      right: -150px;
      top: -150px;
      position: fixed;
      animation: rotating 15s linear infinite;
      animation-direction: reverse;
      background-image: url("../img/decore.svg");
      background-size: 100% 100%;
   }
    .carousel-item {
       padding: 15px;
       height: 660px;
    }
    strong {
      font-size: 20px;
      font-weight: 900;
      padding: 20px 0;
      display: block;
    }
    h1 {
       position: relative;
       .text {
          position: relative;
          z-index: 1;
          font-size: 40px;
          color: #181E4B;
          line-height: 60px;
          font-weight: 900;
          @include respond(lg) {
            font-size: 55px;
            line-height: 80px;
          }
          @include respond(xl) {
            font-size: 75px;
          }
       }
       .vector {
         height: 15px;
         overflow: hidden;
         display: block;
         position: absolute;
         top: 30px;
         right: 0%;
         width: 300px;
         @include respond(lg) {
            top: 45px;
         }
         @include respond(xl) {
            top: 55px;
         }
       }
    }
    p {
       font-size: 16px;
       color: #5E6282;
       line-height: 30px;
       padding-top: 15px;
    }
   .carousel-indicators {
      align-items: center;
      width: 240px;
      justify-content: space-between;
      margin: 0 0 2rem 0;
      left: 0%;
      @include respond(lg) {
         width: 400px;
      }
      &::before {
         content: "";
         display: block;
         position: absolute;
         height: 7px;
         width: 80%;
         right: 10%;
         background-repeat-y: no-repeat;
         background-position: center;
         background-size: 100%;
         background-image: url(../img/dots.png);
         top: 50%;
         transform: translateY(-50%);
      }
       li {
          margin: 0px;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          transition: all 0.2s linear;
          cursor: pointer;
          position: relative;
       }
       .activeIndicator {
          height: 50px;
          width: 50px;
       }
   }
   .bannerImg {
      display: none;
      position: relative;
      z-index: 1;
      @include respond(sm) {
         display: block;
      }
   }
   .bannerAction {
      display: flex;
      justify-content: left;
      align-items: baseline;
      position: absolute;
      left: 15px;
      bottom: 125px;
      .seeAll {
         background-color: #FF7C16;
         color: #fff;
         display: block;
         width: 130px;
         padding: 17px 0;
         text-align: center;
         text-decoration: none;
         border-radius: 10px;
         margin-right: 30px;
         font-size: 16px;
         @include respond(lg) {
            width: 170px;
            font-size: 18px;
         }
     }
     .demo {
         display: block;
         font-size: 17px;
         button {
            border: none;
            background-color: #e72228;
            height: 53.5px;
            width: 53.5px;
            border-radius: 50%;
            color: #fff;
            text-align: center;
            line-height: 53.5px;
            margin-right: 15px;
            font-size: 17px;
         }
      }
   }
   
 }

 @keyframes rotating {
   from {
     transform: rotate(0deg);
   }
   to {
     transform: rotate(360deg);
   }
 }